// 字體大小

$font-size-first : 98pt;
$font-size-second : 49pt;
$font-size-third : 27.1pt;
$font-size-fourth : 20.3pt;

// 字型
$font_FanHei: adobe-fan-heiti-std,
sans-serif;

* {
    font-family: $font_FanHei;
    scroll-behavior: smooth;
}

body {
    margin: 0;

}

body.modal-open {
    padding-right: 0 !important;

}

.loading_start {
    .loadingbg {
        background-color: #f24;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 1s;
    }

    .loadingbg.done {
        opacity: 0;
    }

    .loadbar {
        width: 500px;
        height: 30px;
        border: 1px solid #000;
    }

    .loading {
        width: 0%;
        height: 100%;
        background-color: #24f;
    }
}


// NAV 導覽列
.nav_section {
    width: 100%;
    height: 101px;
    background-color: rgb(57, 83, 170);
    position: fixed;
    z-index: 10;

    .container {
        display: flex;
        justify-content: space-between;
        padding: 0;
        padding-left: 15px;
        height: 100%;
        position: relative;

        .remove {
            position: absolute;
            top: 80vh;
            right: -40px;
            opacity: 0;
            text-align: right;
            pointer-events: none;

        }

        .go-top {
            position: absolute;
            top: 80vh;
            right: -80px;

        }

        .go-top:hover {
            transform: scaleX(1.2) scaleY(1.2);
            transition: 0.5s;

        }

        .branches_btn{
            position: absolute;
            top: calc(80vh + 60px);
            right: -80px;
        }

        .branches_btn:hover {
            transform: rotate(360deg); 
            transition: 0.4s;

        }

        @media screen and(max-width:1300px) {
            .go-top {
                position: absolute;
                top: 80vh;
                right: -40px;

            }
            .branches_btn{
                position: absolute;
                top: calc(80vh + 60px);
                right: -40px;
            }
        }


        @media screen and(max-width:1220px) {
            .go-top {
                position: absolute;
                top: 80vh;
                right: -15px;

            }
            .branches_btn{
                position: absolute;
                top: calc(80vh + 60px);
                right: -15px;
            }
        }



        @media screen and(max-width:992px) {
            flex-direction: row-reverse;
            position: relative;
            justify-content: space-around;

            .remove.active {
                font-size: $font-size-third;
                position: absolute;
                top: 108px;
                right: 15px;
                opacity: 1;
                pointer-events: unset;
                text-align: right;
                z-index: 11;

            }

            .remove.active:hover {
                color: white;
                cursor: pointer;
            }

            .go-top {
                position: absolute;
                top: 80vh;
                right: -30px;

            }

            .nav_logo {
                flex: 3;


            }


            .navbar-toggler {
                flex: 2;
            }

        }

        @media screen and(max-width:768px) {
            .go-top {
                position: absolute;
                top: 80vh;
                right: 0px;

            }

            .nav_logo {
                flex: 3;
            }


            .navbar-toggler {
                flex: 2;

            }
        }

        @media screen and(max-width:576px) {
            .go-top {
                position: absolute;
                top: 80vh;
                right: 0px;

            }

            .nav_logo {
                flex: 7;
            }


            .navbar-toggler {
                flex: 3;

            }
        }

        .nav_logo {
            padding: 0;
            margin: auto 0;

            img {
                text-align: center;
            }
        }

        .navbar-toggler {
            span {
                img {
                    max-width: 180%;

                    @media screen and(max-width:576px) {
                        max-width: 100%;

                    }
                }

                img:hover {
                    cursor: pointer;
                }
            }

        }

        .nav_group {
            padding-left: 285px;
            z-index: 5;

            ul {
                display: flex;
                justify-content: space-between;

                li {
                    font-size: $font-size-fourth;
                    padding: 8px 20px;

                    a {
                        max-width: 200px;
                        color: black;
                        font-family: $font_FanHei;
                    }

                    a:hover {
                        background-color: rgb(255, 199, 84);
                        transition: 0.2s;
                        border-radius: 0px 0px 45px 45px;
                        transform: translateY(5px);

                    }
                }
            }

            @media screen and(max-width:992px) {
                padding-left: 0px;
                position: absolute;
                top: 101px;
                left: calc(360px - 50vw);

                ul {
                    width: 100vw;
                    height: calc(100vh - 101px);
                    background-color: #eeeeee;
                    justify-content: flex-start;

                    li {
                        font-size: $font-size-fourth;
                        padding: 8px 20px;

                        a {
                            color: black;
                            font-family: $font_FanHei;
                            text-align: center;
                        }
                    }
                }
            }

            @media screen and(max-width:768px) {
                padding-left: 0px;
                left: calc(270px - 50vw);

                ul {
                    width: 100vw;
                    height: calc(100vh - 101px);
                    background-color: #eeeeee;
                    justify-content: flex-start;

                    li {
                        font-size: $font-size-fourth;
                        padding: 8px 20px;

                        a {
                            color: black;
                            font-family: $font_FanHei;
                            text-align: center;
                        }
                    }
                }
            }

            @media screen and(max-width:576px) {
                padding-left: 0px;
                left: 0;

                ul {
                    width: 100vw;
                    height: calc(100vh - 101px);
                    background-color: #eeeeee;
                    justify-content: flex-start;

                    li {
                        font-size: $font-size-fourth;
                        padding: 8px 20px;

                        a {
                            color: black;
                            font-family: $font_FanHei;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

}

// 填空
.blank_fill_nav {
    width: 100%;
    height: 101px;
}

// 日船章魚燒
.bg-first {
    width: 100%;

    background-color: rgb(255, 199, 84);

    @media screen and(max-width:992px) {
        height: unset;
    }

    .container {
        .row {
            .col {

                display: flex;
                justify-content: center;

                .title-box {
                    max-width: 50%;
                    margin: 48px 0;

                    .title {
                        padding-top: 15px;
                        line-height: 49pt;
                        border: 4px solid black;
                        text-align: center;
                        font-size: $font-size-second;

                    }
                }

                img {
                    height: 664px;
                }

            }

            .contents {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                .content_1 {
                    display: flex;

                    h2 {
                        font-size: $font-size-second;
                    }

                    P {
                        font-size: $font-size-fourth;
                        line-height: $font-size-second;
                        vertical-align: bottom;
                        padding-top: 15pt;
                        text-align: justify;
                    }
                }

                .content_2 {
                    display: flex;
                    flex-wrap: wrap;

                    h2 {
                        font-size: $font-size-second;
                    }

                    h3 {
                        font-size: $font-size-third;
                        line-height: $font-size-second;
                        padding-top: 15pt;
                    }

                    P {
                        font-size: $font-size-fourth;
                        line-height: $font-size-second;
                        vertical-align: bottom;
                        padding: 0 0 0 65px;
                        text-align: justify;
                    }
                }

                .content_3 {
                    max-width: 200px;
                    margin: 0 auto;

                    a {
                        text-decoration: none;
                        color: black;

                        div {
                            font-size: $font-size-fourth;
                            border: 4px solid black;
                            text-align: center;
                            padding-top: 11px;
                        }
                    }

                    .modal {
                        padding-right: 0px !important;

                        .modal-dialog {
                            max-width: 100% !important;

                            .modal-content {
                                .row {
                                    .col {
                                        .card {
                                            img {
                                                color: black;
                                                // 多
                                            }
                                        }
                                    }
                                }

                            }
                        }
                    }

                }

                .content_3:hover {
                    background-color: rgb(57, 83, 170);

                    a {
                        color: white;
                    }
                }
            }
        }

    }
}

//完整故事 更多點我看 互動視窗

.modal-dialog {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;


    .modal-content {
        height: auto;
        min-height: 100vh;
        border-radius: 0;

        .modal-header {
            background-color: rgb(57, 83, 170);

            .modal-title {
                color: white;
                margin-left: calc(50% - 95px)
            }

            .close:hover {
                cursor: pointer;
                color: white;
            }
        }

        .modal-body {
            background-color: rgb(255, 199, 84);
            display: flex;
            align-items: center;

            .row {
                display: flex;
                align-items: center;

                .col {
                    height: 50%;

                    .content {
                        display: none;
                    }

                    @media screen and(max-width:1200px) {
                        height: 50%;
                        padding: 15px;
                    }

                    @media screen and(max-width:992px) {
                        img {
                            max-width: 525px;
                            height: 70vh;
                        }

                    }

                    @media screen and(max-width:768px) {
                        img {
                            max-width: 100%;
                        }

                    }
                }

                .col:hover {
                    .content {
                        height: 664px;
                        display: block;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        p {
                            font-size: $font-size-fourth;
                            text-align: justify;
                        }
                    }

                    @media screen and(max-width:1200px) {
                        .content {
                            height: 664px;
                        }
                    }

                    @media screen and(max-width:768px) {
                        .content {
                            height: 50vh;
                        }
                    }

                    @media screen and(max-width:576px) {
                        .content {
                            height: 70vh;
                        }
                    }

                    img {
                        display: none;

                    }
                }


            }
        }

        .modal-footer {
            background-color: rgb(57, 83, 170);

            .btn {
                background-color: rgb(255, 199, 84);
            }

            .btn:hover {
                background-color: rgb(57, 83, 170);
                color: white;
            }
        }
    }


}

// 經典口味
.bg-classicTaste {
    background-image: url('../img/個人專題素材收集/海浪/94236.jpg');
    background-size: cover;
    width: 100%;




    .container {
        .row {

            .col {

                display: flex;
                justify-content: center;

                .title-box {
                    max-width: 50%;
                    margin: 48px 0;

                    .title {
                        padding-top: 15px;
                        line-height: 49pt;
                        border: 4px solid black;
                        text-align: center;
                        font-size: $font-size-second;

                    }
                }

                .subtitle-box {
                    .title {

                        padding-top: 15px;
                        line-height: 49pt;
                        text-align: center;
                        font-size: $font-size-fourth;


                    }
                }

                .favor-box {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;

                    .col.favor-box-in {
                        display: flex;
                        flex-wrap: wrap;

                        .tasteBox {
                            width: 100%;
                            text-align: center;
                            font-size: $font-size-second;

                        }

                        .tasteBox.original {
                            color: rgb(209, 126, 17);
                            text-shadow: white 1px 1px 0px;

                        }

                        .tasteBox.mustard {
                            color: #139c33;
                            text-shadow: white 1px 1px 0px;

                        }

                        img {
                            width: 100%;
                            margin-bottom: 40px;
                        }
                    }
                }
            }
        }
    }
}

// 理念
.idea {
    .container.full {
        max-width: 100%;

        .row {
            display: flex;
            justify-content: space-around;
            // 版本一
            // .col {
            //     display: flex;
            //     justify-content: center;
            //     background-color: rgb(29, 45, 97);

            //     // rgb(57, 83, 170) NAV色
            //     // background-color: #B6C5D8;  海浪藍
            //     // background-color: #546B94;  深海藍

            //     .cards {

            //         margin: 48px 0;

            // .card-idea-title {
            //     max-width: 140px;
            //     padding-top: 15px;
            //     line-height: $font-size-third;
            //     border: 4px solid white;
            //     text-align: center;
            //     font-size: $font-size-third;
            //     margin: 0 auto;
            //     color: white;

            // }
            // .card-idea-title.honesty {
            //     color: black;
            //     border: 4px solid black;
            // }

            // .card-idea-content {
            //     color: white;
            //     text-align: center;
            //     font-size: $font-size-fourth;
            //     margin: 0 auto;
            // }
            // .card-idea-content.honesty {
            //     color: black;

            // }
            // }
            // }
            // .honesty{
            //     background-color: rgb(157, 194, 243);
            // }

            // 版本二
            .col.quality {
                background-image: url('../img/日船章魚小丸子.PNG');
                height: 500px;
            }

            .col.honesty {
                background-image: url('../img/日船章魚小丸子.PNG');
                height: 500px;
            }

            .col.share {
                background-image: url('../img/日船章魚小丸子.PNG');
                height: 500px;
            }

            .col {
                display: flex;
                justify-content: center;
                position: relative;

                .mask {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    background-color: rgba(0, 0, 0, 0.6);
                    z-index: 2;
                }

                .cards {
                    display: none;
                }


            }

            .col:hover {
                position: relative;

                .mask {
                    opacity: 1;
                    z-index: 2;
                }

                .cards {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    .card-idea-title {
                        max-width: 140px;
                        padding-top: 15px;
                        line-height: $font-size-third;
                        // border: 4px solid white;
                        text-align: center;
                        font-size: $font-size-third;
                        margin: 0 auto;
                        color: white;
                        z-index: 3;

                    }

                    .card-idea-content {
                        color: white;
                        text-align: center;
                        font-size: $font-size-fourth;
                        margin: 0 auto;
                        z-index: 3;
                    }

                }
            }
        }
    }
}

// 分店一覽
.branches {
    background-color: #ffc754;
    width: 100%;
    height: calc(100vh -101px);

    .container {
        .row {
            .col {
                display: flex;
                justify-content: center;

                .title-box {
                    max-width: 50%;
                    margin: 48px 0;

                    .title {
                        padding-top: 15px;
                        line-height: 49pt;
                        border: 4px solid black;
                        text-align: center;
                        font-size: $font-size-second;

                    }
                }

                a {
                    .circle {
                        align-items: center;
                        background-image: url('../img/TAKOYAKI-N.png');
                        width: 150px;
                        height: 250px;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    .circle.middle {

                        background-image: url('../img/TAKOYAKI-M.png');

                    }

                    .circle.south {

                        background-image: url('../img/TAKOYAKI-S.png');

                    }

                    .circle.east {

                        background-image: url('../img/TAKOYAKI-E.png');

                    }
                }
            }
        }
    }
}

// 分店用 modal

.modal-dialog.modal-branches {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;

    .modal-content {
        height: auto;
        min-height: 100vh;
        border-radius: 0;

        .modal-header {
            display: flex;
            background-color: rgb(57, 83, 170);

            .modal-title {
                color: white;
                padding: 7px 13px;
                margin-left: 0;
            }

            .close:hover {
                cursor: pointer;
                color: white;
            }

        }

        .modal-body {
            color: black;

            .row {
                width: 100%;
                

                .col {

                    .card {
                        background-color: #eeeeee;
                        .card-body{
                            padding: 10px 7px;
                        }
                    }
                }
            }
        }

        .modal-footer {
            color: black;
        }
    }
}

// 網友推薦
.netizen_comment {
    width: 100%;

    .container.full {
        max-width: 100%;

        .row {
            .col {

                display: flex;
                justify-content: center;

                .title-box {
                    max-width: 50%;
                    margin: 48px 0;

                    .title {
                        padding-top: 15px;
                        line-height: 49pt;
                        border: 4px solid black;
                        text-align: center;
                        font-size: $font-size-second;

                    }
                }

                .swiper-container {
                    width: 100%;
                    padding-top: 50px;
                    padding-bottom: 50px;
                    margin: 0 auto;
                }

                .swiper-slide {
                    background-position: center;
                    background-size: cover;
                    width: 500px;
                    height: 750px;
                }
            }
        }
    }
}


// 加盟入內
.join_us {
    width: 100%;
    background-color: rgb(255, 237, 158);

    .container {
        max-width: 100%;

        .row {
            .col {
                .title-box {
                    max-width: 350px;
                    margin: 48px auto;

                    .content {
                        color: black;
                        padding-top: 15px;
                        line-height: 49pt;
                        border: 4px solid black;
                        text-align: center;
                        font-size: $font-size-second;

                    }
                }

                .title-box.phone {
                    .content {
                        border: unset;
                    }
                }

                .title-box.detail {
                    
                    a {

                        text-decoration: none;
                        color: black;

                        .content {

                            margin: 0 auto;
                            padding-top: 15px;
                            line-height: 49pt;
                            border: 4px solid black;
                            text-align: center;
                            font-size: $font-size-third;
                            padding-top: 11px;
                        }
                    }



                }

                .title-box.detail {
                    max-width: 240px;

                    a:hover {
                        

                        .content {
                            background-color: rgb(57, 83, 170);
                            color: white;
                        }
                    }
                }

            }
        }
    }
}

footer {
    width: 100%;

    .container {
        .row {
            display: flex;
            justify-content: center;

            .col {
                text-align: center;
            }
        }
    }
}