$font-size-first : 98pt;
$font-size-second : 49pt;
$font-size-third : 27.1pt;
$font-size-fourth : 20.3pt;

// blue
// background-color: rgb(57, 83, 170);

// yellow
// background-color: rgb(255, 199, 84);


$font_FanHei: adobe-fan-heiti-std , sans-serif;






